<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"{{original_guess}}" Can Pass!</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
</head>
<body>
    <h1>Yay! "{{original_guess}}" can pass the Green Glass Door!</h1>
    <img src="static/door-open.png" width="400px"><br><br>
    <h1>🥳 🥳 🥳</h1>
    <a href="{{url_for('index')}}">Try another word to figure out the rule!</a>
</body>
</html>