<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redder Kayak - Is it a Palindrome?</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
</head>
<body>
    <h1>
        <span id="red">Redder</span>
        <span id="kayak">Kayak</span>
    </h1>
    <form action="palindrome-result" method="post">
        <label>Enter here!</label><br>
        <input type="text" name="palindrome-input" placeholder="Word"><br>
        <input type="submit" value="Check"><br>
    </form>
</body>
</html>